<% link_path = link_path || user_user_companies_path(current_user, companies_ids: current_user.companies.pluck(:id)) %>
<div class="d-flex justify-content-center my-2">
  <%= link_to link_path do %>
    <button class="btn-red-lg">
      <i class="fa-solid fa-building me-3"></i>
      <%= btn_text %>
    </button>
  <% end %>
</div>
