<div class="company-not-find border white-bg">
  <h3 class="text-center">Não encontrou a empresa?</h3>
  <p><strong>Registre</strong> uma empresa e crie uma reclamação, em menos de <span>5 minutos</span></p>
  <%= render 'components/btn_companies', btn_text: 'Registre uma empresa', link_path: new_complaint_path %>
  <small>*Caso ainda não possua uma conta, será necessário se registrar primeiro</small>
</div>