<div class="d-flex align-items-center" data-like-target="likeContainer">
  <% if user_signed_in? %>
    <% if current_user.favorited?(complaint) %>
      <%= button_to path1, method: :delete, remote: true, class: 'btn-unlike', data: { action: 'like#toggleLike', 'like-target': 'likeButton', method: 'delete' } do %>
        <i class="fa-solid fa-heart me-2"></i>
      <% end %>
    <% else %>
      <%= button_to path2, remote: true, class: 'btn-like', data: { action: 'like#toggleLike', 'like-target': 'likeButton', method: 'post' } do %>
        <i class="fa-regular fa-heart me-2"></i>
      <% end %>
    <% end %>
  <% end %>
  <span data-like-target="likeCount"><%= complaint.likes_count %></span>
</div>
