<form class="d-flex search-bar" role="search" action="<%= search_path %>" method="get">
  <input class="form-control" type="search" placeholder="Empresa, Tags, etc..." aria-label="Search" name="query">
  <button class="btn" type="submit">
    <i class="fa-solid fa-magnifying-glass"></i>
  </button>
</form>
