// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0071BC;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #008002;
$gray: #0E0000;
$light-gray: #F4F4F4;

// RECLAME JP 

$black: #333333;
$main-red: #B0060C;
$main-salmon: #F95059;
$gray-icon: #a6acb2;
$light-gray-icon: #cbcbcf;
$gray-hover: #5c636a;
