<div class="container">
  <h2>Escolha o tipo de registro</h2>
  <%= simple_form_for :registration_type, url: registration_type_path, method: :post do |f| %>
    <div class="form-group">
      <%= f.input :first_registration_type, as: :radio_buttons, collection: [['Usuário', 'user'], ['Empresa', 'enterprise']], label: false %>
    </div>
    <div class="form-group">
      <%= f.button :submit, 'Próximo', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>