.company_show {
  .company-banner {
    position: relative;

    .company-card-banner {
      width: 100%;
      height: 250px;
      object-fit: cover;
    }

    .banner-avatar {
      position: absolute;
      bottom: -20px;
      left: 50%;
      transform: translateX(-50%);
      width: 150px;
      height: 150px;
      object-fit: cover;
      border-radius: 50%;
      border: 2px solid $light-gray;
      box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);

      @media (max-width: 768px) {
        width: 100px;
        height: 100px;
      }
    }
  }

  h1 {
    font-weight: 700;
  }

  .toggle-form {
    strong {
      color: $main-red;
      font-weight: 700;
    }
    @media (max-width: 768px) {
      h3 {
        font-size: 1.2rem;
      }
    }
  }

  nav {
    button {
      color: $main-red;
    }
  }

  .ranking-box {
    background: linear-gradient(60deg, rgba(0, 113, 188, 0.7), rgba(124, 203, 255, 0.7));
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);

    i {
      color: $yellow;
      font-size: 3rem;
    }

    h5 {
      font-weight: 800;
      font-size: 2rem;

      small {
        color: $gray-hover;
        font-weight: 600;
        font-size: 1rem;
      }
    }

    p {
      font-size: 0.8rem;
      padding: 0;
      margin-top: 1rem;
    }
  }

  .desempenho {
    h5 {
      font-size: 1.2rem;
      font-weight: 600;
    }

    p {
      padding: 0;
      margin: 0;
      color: $gray-hover;
    }

    i {
      color: $main-red;
    }

    span {
      font-weight: 600;
    }

    strong {
      font-weight: 700;
      color: $main-red;
    }
  }

  .complaints {
    .nav-pills .nav-link.active {
      background: $main-red;
      border-radius: 8px;
      color: white;
    }

    .nav-pills .nav-link {
      color: $main-red;
    }
  }
}