.new-registration-page {

  .alert-box {
    font-size: 0.8rem;
  }

  label {
    font-weight: 600;
  }
}

.new-user {

  h2 {
    strong {
      color: $green;
      font-weight: 800;
    }
  }

  i {
    color: $green;
    font-size: 2.5rem;
  }

  label {
    font-weight: 600;
  }

  h3 {
    font-weight: 800;
    color: $green;
    font-size: 1.2rem;
  }
}
