.new-ads {
  
  h3 {
    color: $black;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
  }

  .size-ads {
    width: 500px;
    height: auto;
  }

  .ads-sizes {
    margin-bottom: 30px;
  }
}