.registration_type {
  h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
    font-weight: 700;
  }

  h2 {
    font-weight: 700;
    color: $black;
  }

  .registration-card-user {
    h2 {
      color: $green;
    }
  }

  .registration-card-company {
    h2 {
      color: $blue;
    }
  }

  .fa-user-circle {
    color: $green;
  }

  .fa-building {
    color: $blue;
  }

  @media (max-width: 768px) {
    h1 {
      font-size: 2em;
    }
  }

  .toggle-form {
    h4 {
      font-weight: 600;
    }

    .custom-placeholder {
      color: $gray-hover;
    }
  }

  .company-name {
    strong {
      color: $main-red;
    }
  }
}

#results {
  max-height: 150px;
  overflow-y: auto;
  background-color: #fff;
  position: absolute;
  width: 100%;
  z-index: 1000;
}

.list-group-item {
  padding: 10px;
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #f8f9fa;
}
