.user-profile {
  .welcome-dashboard {
    background-image: image-url('bg-transparent.png');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: auto 100px;
    padding: 1rem;
  }

  .box-info {
    
  }
}