<div class="container">
  <%= render 'shared/back_btn' %>
  <h1 class="my-4">Resultado da busca por <strong>'<%= @query %>'</strong></h1>
  <h3 class="my-4">Empresas</h3>
  <% if @companies.any? %>
    <div class="row d-flex justify-content-center">
      <% @companies.each do |company| %>
        <div class="col-11 col-md-4 mb-2">
          <%= render 'companies/card', company: company %>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>Nenhuma empresa encontrada</p>
  <% end %>
  <h3 class="my-4">Reclamações</h3>
  <% if @complaints.any? %>
    <div class="row d-flex justify-content-center">
      <% @complaints.each do |complaint| %>
        <div class="col-11 col-md-4 mb-2">
          <%= render 'complaints/card', complaint: complaint %>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>Nenhum resultado encontrado.</p>
  <% end %>
</div>
