<div class="container">
  <%= render 'shared/back_btn' %>
  <h1 class="my-4">Resultado da busca por <strong>'<%= @query %>'</strong></h1>
  <% if @companies.any? || @complaints.any? %>
    <h3 class="my-4">Empresas</h3>
    <% if @companies.any? %>
      <div class="row">
        <% @companies.each do |company| %>
          <div class="col-lg-4 col-sm-6 portfolio-item">
            <%= render 'companies/card', company: company %>
          </div>
        <% end %>
      </div>
    <% else %>
      <p>Nenhuma empresa encontrada</p>
    <% end %>
    <h3 class="my-4">Reclamações</h3>
    <% if @complaints.any? %>
      <div class="row">
        <% @complaints.each do |complaint| %>
          <div class="col-lg-4 col-sm-6 portfolio-item">
            <%= render 'complaints/card', complaint: complaint %>
          </div>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <p>Nenhum resulatdo encontrado.</p>
  <% end %>
</div>
