<div class="container">
  <div class="row d-flex justify-content-center">
    <% @complaints.each do |complaint| %>
      <div class="col-10 col-md-4 my-2">
        <%= render 'complaints/card', complaint: complaint %>
      </div>
    <% end %>
  </div>
</div>