<div class="container">
  <%= render 'shared/back_btn' %>
  <div class="row">
    <div class="col-md-3 mt-4 border d-none d-md-flex">
      <% if user_signed_in? && current_user.is_company? %>
        <%= render 'shared/sidebar_company' %>
      <% else %>
        <%= render 'shared/sidebar' %>
      <% end %>
    </div>
    <div class="col-md-9 col-12 mt-4">
      <div class="d-flex row justify-content-center">
        <h3 class="mb-4">Todas as reclamações</h3>
        <% @complaints.sort_by { |i| -i.created_at.to_i }.last(5).each do |complaint| %>
          <div class="col-10 col-md-4 mb-3">
            <%= render 'complaints/card', complaint: complaint %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>