<div class="container">
  <ul>
    <% @complaints.each do |complaint| %>
      <li><%= complaint.title %>
        <% if complaint.company.present? %>
          <%= link_to 'Go to company', company_path(complaint.company, complaint) %>
        <% else %>
          <span>Company not available</span>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>