<div class="container about">
  <div class="img-top">
    <%= image_tag 'bg-transparent.png' %>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h1 class="mb-4">Sobre Nós</h1>
      <p>Bem-vindo ao nosso site, uma plataforma dedicada a ajudar brasileiros no Japão a expressarem suas opiniões e
        experiências com empresas locais, de forma similar ao que o Reclame Aqui faz no Brasil.</p>
      <p>Nosso objetivo é proporcionar um espaço seguro e confiável onde os usuários possam compartilhar suas experiências
        e resolver problemas com empresas e serviços no Japão. Entendemos que viver em um país diferente pode apresentar
        desafios únicos, e estamos aqui para garantir que você tenha um canal de comunicação eficaz com as empresas que
        atuam na região.</p>
      <h3 class="mt-4">Por que Usar Nosso Serviço?</h3>
      <p>Nosso serviço é voltado especificamente para o público brasileiro no Japão, considerando as necessidades e
        particularidades dessa comunidade. Nós oferecemos uma plataforma em português, fácil de usar, onde você pode
        buscar por empresas, registrar suas reclamações, e acompanhar as respostas e soluções propostas.</p>
      <h3 class="mt-4">Nossa Missão</h3>
      <p>Acreditamos na importância de um relacionamento transparente e justo entre consumidores e empresas. Nossa missão é
        empoderar os consumidores brasileiros no Japão, oferecendo uma ferramenta que lhes permite expressar suas
        preocupações e resolver problemas de forma justa e eficiente.</p>
    </div>
  </div>
</div>
