<div class="container FAQ">
  <div class="img-top">
    <%= image_tag 'bg-transparent.png' %>
  </div>
  <div class="row">
    <div class="col-md-12 mt-3 pb-4">
      <h1 class="mb-4">FAQ - Perguntas Frequentes</h1>
      <h5><span>1. </span>O que é este site?</h5>
      <p>Nosso site é uma plataforma dedicada a ajudar brasileiros no Japão a expressarem suas opiniões e experiências
        com
        empresas locais, de maneira semelhante ao que o Reclame Aqui faz no Brasil.</p>
      <h5><span>2. </span>Quem pode usar este site?</h5>
      <p>Qualquer pessoa que queira compartilhar suas experiências com empresas no Japão pode usar nosso site. É
        especialmente voltado para o público brasileiro residente no Japão.</p>
      <h5><span>3. </span>Como faço para registrar uma reclamação?</h5>
      <p>Para registrar uma reclamação, você precisa criar uma conta em nosso site. Após o registro, você pode acessar a
        seção de reclamações, escolher a empresa e detalhar o seu problema.
        <br>
        Você pode fazer suas reclamação de modo <strong>anônimo</strong> ou <strong>público</strong></p>
      <h5><span>4. </span>Meus dados pessoais são seguros?</h5>
      <p>Sim, levamos sua privacidade muito a sério. Seus dados não serão divulgados, vendidos ou compartilhados com
        terceiros. Para mais detalhes, consulte nossa Política de Privacidade.</p>
      <h5><span>5. </span>As empresas são obrigadas a responder minhas reclamações?</h5>
      <p>Não, as empresas não são obrigadas a responder às reclamações. No entanto, encorajamos fortemente as empresas a
        interagirem e resolverem os problemas apresentados pelos consumidores.</p>
      <h5><span>6. </span>O que acontece se um usuário usar linguagem ofensiva ou inapropriada?</h5>
      <p>É proibido o uso de linguagem ofensiva ou palavras de baixo calão em nosso site. Usuários que violarem essas
        regras poderão ter suas contas suspensas ou encerradas. Para mais detalhes, veja nossos Termos de Uso.</p>
      <h5><span>7. </span>Posso alterar ou excluir minha reclamação após enviá-la?</h5>
      <p>Sim, você pode editar ou excluir sua reclamação a qualquer momento através do seu perfil.</p>
      <h5><span>8. </span>Como posso entrar em contato com o suporte do site?</h5>
      <p>Se precisar de ajuda ou tiver alguma dúvida, entre em contato conosco através da seção de contato do site ou
        envie
        um e-mail para <strong>suporte@reclamejp.com</strong>.</p>
      <h5><span>9. </span>Como o site garante a imparcialidade nas respostas das empresas?</h5>
      <p>Nosso site funciona como uma plataforma neutra. Não interferimos nas respostas das empresas, mas asseguramos
        que
        todos os usuários possam expor suas opiniões de maneira justa e equilibrada.</p>
      <h5><span>10.</span> Como posso ter certeza de que minha reclamação será vista pela empresa?</h5>
      <p>Quando você registra uma reclamação, notificamos a empresa envolvida para que ela possa revisar e responder. No
        entanto, não podemos garantir que todas as empresas responderão a todas as reclamações.</p>
    </div>
  </div>
</div>