<div class="container">
  <div class="row">
    <div class="col-md-12 mt-3">
      <h1 class="mb-4">Termos de Uso</h1>

      <p>Ao utilizar nosso site, você concorda com os seguintes termos de uso. Leia atentamente estas condições antes de
        acessar ou usar nossos serviços.</p>

      <h3>1. Responsabilidade pelo Conteúdo</h3>

      <p>Os usuários são inteiramente responsáveis pelo conteúdo e opiniões que expressam no site. Ao se registrar e
        utilizar nossos serviços, você concorda em assumir a responsabilidade pelas suas próprias opiniões e
        declarações.</p>

      <h3>2. Respostas a Perguntas</h3>

      <p>Não garantimos que todas as perguntas feitas no site para terceiros serão respondidas. A interação entre
        usuários é espontânea, e o site não se responsabiliza por respostas ou pela falta delas.</p>

      <h3>3. Conduta do Usuário</h3>

      <p>É expressamente proibido o uso de linguagem ofensiva, incluindo ofensas pessoais ou palavras de baixo calão. Os
        usuários devem manter uma comunicação respeitosa e adequada em todas as interações no site.</p>

      <h3>4. Suspensão de Perfis</h3>

      <p>O site reserva-se o direito de suspender ou encerrar o acesso de qualquer usuário que viole os termos acima ou
        qualquer outra política estabelecida por nós. A decisão de suspensão é exclusiva e a critério da administração
        do site.</p>

      <h3>5. Dúvidas e Contato</h3>

      <p>Se você tiver alguma dúvida sobre estes Termos de Uso, entre em contato conosco através dos canais de
        atendimento disponíveis no site.</p>
    </div>
  </div>
</div>