<div class="container">
  <%= render 'shared/back_btn' %>
  <h2 class="my-4 text-center">Editar empresa <strong><%= @company.company_name %></strong></h2>
  <%= render 'components/new_company', text_btn: 'Atualizar empresa' %>
</div>