<div class="container">
  <%= render 'shared/back_btn' %>
  <h2 class="my-4 text-bold">Empresas com pior pontuação</h2>
  <% @low_ranked_companies.each do |company| %>
    <div class="mb-2">
      <%= render 'companies/ranked_companies', company: company %>
    </div>
  <% end %>
</div>