<div class="container new-company">
  <%= render 'shared/back_btn' %>
  <h2 class="text-center my-4">Cadastre uma empresa</h2>
  <p>Para cadastrar uma empresa, preencha os campos abaixo:</p>
  <small>Campos com * são obrigatorios</small>
  <div class="mt-4">
    <%= render 'components/new_company', text_btn: 'Cadastrar empresa' %>
  </div>
</div>
