<div class="container">
  <%= render 'shared/back_btn' %>
  <div class="row">
    <div class="col-md-3 mt-2 border d-none d-md-flex">
      <%= render 'shared/sidebar_company' %>
    </div>
    <div class="col-md-9 col-12 mt-2">
      <div class="bg-white border">
        <div class="row d-flex justify-content-center">
          <h2 class="text-center my-4">Suas empresas</h2>
          <% @companies.each do |company| %>
            <div class="col-11 col-md-10 my-2">
              <%= render 'companies/card', company: company %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>