// BANNERS 

.banner-ads {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  overflow: hidden;

  .banner-img {
    width: 100%;
    height: auto;
    max-height: 250px;
    object-fit: cover;
    border-radius: 8px;
  }

  @media (max-width: 768px) {
    max-width: 100%;
    width: 100%;
    flex-direction: column;
  }
}

.banner-sm-ads {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  max-height: 90px;
  overflow: hidden;

  .banner-img {
    width: 100%;
    height: auto;
    max-height: 90px;
    object-fit: cover;
    border-radius: 8px;
  }

  @media (max-width: 768px) {
    max-width: 100%;
    width: 100%;
    flex-direction: column;
  }
}

// CARD 

.card-ads {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  overflow: hidden;
  height: 280px;
  width: 336px;
  padding: 0.5rem;

  .card-img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 6px;
    transition: box-shadow 0.3s ease;
    &:hover {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
  }

  @media (max-width: 768px) {
    max-width: 100%;
    width: 100%;
    flex-direction: column;
  }
}

// SIDEBANNER

.left-side-ad, .right-side-ad {
  position: fixed;
  top: 30%;
  transform: translate(0, -30%);
  width: 160px;
  height: 600px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-side-ad {
  left: 15px;
  padding: 5px;

  img {
    height: 100%;
    width: auto;
    object-fit: contain;
    border-radius: 8px;
  }
}

.right-side-ad {
  right: 15px;
  padding: 5px;

  img {
    height: 100%;
    width: auto;
    object-fit: contain;
    border-radius: 8px;
  }
}


@media (max-width: 1024px) {
  .left-side-ad, .right-side-ad {
    display: none;
  }
}


