.banner-ads {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 950px;
  height: auto;
  overflow: hidden;

  .banner-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
  }

  @media (max-width: 768px) {
    max-width: 100%;
    width: 100%;
    flex-direction: column;
  }
}
