.btn-green {
  background: $green;
  border: none;
  padding: 0.5rem 1rem;
  color: #fff;
  border-radius: 6px;
  transition: background 0.3s;
  cursor: pointer;

  &:hover {
    background: darken($green, 10%);
  }
}

.btn-blue {
  background: $blue;
  border: none;
  padding: 0.5rem 1rem;
  color: #fff;
  border-radius: 32px;
  transition: background 0.3s;
  cursor: pointer;

  &:hover {
    background: darken($blue, 10%);
  }

  @media (max-width: 768px) {
    padding: 0.5rem 0.75rem;
    font-size: 0.8rem;
  }
}

.btn-red {
  background: $main-red;
  border: none;
  padding: 0.5rem 1rem;
  color: #fff;
  border-radius: 6px;
  transition: background 0.3s;
  cursor: pointer;

  &:hover {
    background: darken($main-red, 10%);
    color: #fff;
  }
}

.back-btn {
  font-size: 2rem;
  color: $gray-icon;
  transition: color 0.3s;

  i {
    color: $gray-icon;
  }

  &:hover {
    color: $gray-hover;
  }

  @media (max-width: 768px) {
    margin-top: 20px;
  }
}

.back-btn-absolute {
  font-size: 2rem;
  color: $gray-icon;
  transition: color 0.3s;
  position: absolute;
  top: 80px;
  left: 80px;
  z-index: 1000;

  i {
    color: $gray-icon;
  }

  &:hover {
    color: $gray-hover;
  }

  @media (max-width: 768px) {
    top: 68px;
    left: 20px;
  }
}

.btn-red-lg {
  background: $main-red;
  border: none;
  padding: 1rem 1.5rem;
  color: #fff;
  border-radius: 8px;
  transition: background 0.3s;
  cursor: pointer;

  &:hover {
    background: darken($main-red, 10%);
    color: #fff;
  }
}

.like-container {

  button {
    display: flex;
    justify-content: center;
  }

  .btn-like, .btn-unlike {
    background: none;
    border: none;
    color: $gray-icon;
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
  }

  span {
    color: $gray-icon;
  }
}