footer {
  background-color: $main-red;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  max-height: 600px;

  .box-footer {
    position: relative;

    img {
      position: absolute;
      top: 30px;
      right: 30px;
      width: 200px;
      height: auto;
      z-index: 0;

      @media (max-width: 768px) {
        width: 150px;
        top: 50%;
        right: 30%;
        transform: translate(50%, -50%);
      }
    }

    p, a {
      font-weight: 200;
      color: $white;
      z-index: 1;
      position: relative;
      font-size: 0.9rem;
    }

    h5 {
      font-weight: 500;
      color: $white;
      z-index: 1;
      position: relative;
      font-size: 1.1rem;
    }

    small {
      display: flex;
      justify-content: center;
      color: $gray-icon;
    }
  }
}
