// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "tag";
@import "search_bar";
@import "toggle_form";
@import "buttons";
@import "sidebar";
@import "company_card";
@import "complaint_card";
@import "complaint_tab";
@import "company_banner";
@import "employee_card";
@import "footer";
@import "company_not_find";
@import "ranked_companies";
@import "carousel";

h1, h2, h3, h4, h5, h6, p, label, small {
  color: $black;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headers-font;
}

.content {
  min-height: 100vh;
}

.border {
  border-radius: 8px;
}

body {
  padding-top: 70px;
  height: 100%;

  @media (max-width: 768px) {
    padding-top: 50px;
  }
}

.bg-white {
  min-height: 100%;
  height: auto;
  padding-bottom: 20px; /* Adicione padding se precisar de espaço na parte inferior */
  background-color: white; /* Já está definido, mas só para reforçar */
}

a {
  text-decoration: none;
}