#results {
  max-height: 150px;
  overflow-y: auto;
  background-color: #fff;
  position: absolute;
  min-width: 40%;
  max-width: 80%;
  z-index: 1000;
}

.list-group-item {
  padding: 10px;
  background-color: #fff;
  cursor: pointer;
  bottom: 0;
}

.list-group-item:hover {
  background-color: #f8f9fa;
}