.red-tag {
  a {
    text-decoration: none;
  }

  background: rgba(253, 16, 21, 0.8);
  padding: 0.3rem 0.8rem;
  border-radius: 8px;
  font-size: 0.8rem;
  color: #fff;
  font-weight: 500;
  transition: background 0.3s;
  margin-bottom: 1rem;
}

.green-tag {
  a {
    text-decoration: none;
  }
  background: rgba(30, 221, 136, 0.8);
  padding: 0.3rem 0.8rem;
  border-radius: 8px;
  font-size: 0.8rem;
  color: #fff;
  font-weight: 500;
  transition: background 0.3s;
  margin-bottom: 1rem;
}

.yellow-tag {
  a {
    text-decoration: none;
  }
  background: sandybrown;
  padding: 0.3rem 0.8rem;
  border-radius: 8px;
  font-size: 0.8rem;
  color: #fff;
  font-weight: 500;
  transition: background 0.3s;
  margin-bottom: 1rem;
}

.tag-complaint {
  background: sandybrown;
  padding: 0.3rem 0.8rem;
  border-radius: 6px;
}

.tag-grey-sm {
  background: $gray-icon;
  color: #fff;
  padding: 0.3rem 0.8rem;
  border-radius: 24px;
  // font-size: 0.8rem;
  transition: background 0.3s;
  
  &:hover {
    background: $gray-hover;
    cursor: pointer;
  }
}